<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">


  <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Aladin&display=swap" rel="stylesheet">

  <title>The News Scrapper!!!</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <form class="form-inline">
      <span class="navbar-brand">News Scrapper</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li>
            <a class="nav-link active" href="#">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Saved Articles <span>{{savedArtclesCount}}</span></a>
          </li>
          <div class="btn-toolbar">
            <li>
              <button class="btn btn-danger mr-2" id="scrapeButton">Scrape New Articles</button>
            </li>
            <li>
              <button class="btn btn-danger mr-2" id="clearButton">Clear Articles</button>
            </li>
          </div>
    </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br> <br>

  {{{body}}}
  <script src="app.js"></script>

</body>

</html>