<nav class="navbar navbar-dark bg-primary navbar-expand-md">
  <form class="form-inline">
    <span class="navbar-brand">News Scrapper</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li>
          <a class="nav-link active" href="#">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Saved Articles <span>{{savedArtclesCount}}</span></a>
        </li>
        <div class="btn-toolbar">
          <li>
            <button class="btn btn-danger mr-2" id="scrapeButton">Scrape New Articles</button>
          </li>
          <li>
            <button class="btn btn-danger mr-2" id="clearButton">Clear Articles</button>
          </li>
        </div>
  </form>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<br> <br>

