<div class="card bg-dark text-white">
    <img class="card-img" src="image/wp.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="card-text bg-warning p-3 text-center card-angled">
            Un Oh!! No scrapped articles right now, try doing a fresh batch!!!</p>
    </div>
</div>